<div class="sign-up-form col-sm-4 col-sm-offset-4" >
  <form action="/login" method="post">
    <legend>Login</legend>
      <div class="username-input">
        <label>Username</label>
        <input type="text" placeholder="Username" id="sign-up-username" name="username">
      </div>
      <div class="password-input">
        <label>Password</label>
        <input type="password" placeholder="Password" id="sign-up-password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>